@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@theme {
  --color-primary: #1F319D;
  --color-secondary: #ffffff;
  --color-gray: #B1B1B1;
  --color-accent: rgba(122, 170, 221, 0.3);
  --color-lightblue: #7AAADD;
  

  --font-montserrat: "Montserrat", "sans-serif";

  --breakpoint-tablet: 770px;
  --breakpoint-desktop: 1020px;

}

/* Hide scrollbar for Chrome, Safari */
.scrollbar-hide::-webkit-scrollbar 
{
  display: none;
}

/* Hide scrollbar for Firefox */
.scrollbar-hide 
{
  -ms-overflow-style: none;
  scrollbar-width: none;
}
